registry=https://npm.wolterskluwer.io/registry/716af6b50e8153358668d68d43b54bba4954d858be1
fetch-retries=10
progress=false
@wk:registry=https://registry.npme.wolterskluwer.io/
@wk-app:registry=https://registry.npme.wolterskluwer.io/
@wk-test:registry=https://registry.npme.wolterskluwer.io/
//registry.npme.wolterskluwer.io/:_authToken=8891e1e48c6be1788bf786971ff379af661e82c7bea63d173923f87b08404c07
